<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body class="container w-75 mx-auto pb-5">
<header th:replace="fragments :: header"></header>
<h1>My Vehicles</h1>
<h3 th:unless="${vehicles} and ${vehicles.size()}">No vehicles!</h3>
<a href="create-vehicle" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Add</a>
<table th:if="${vehicles.size() > 0}" class="table table-hover">
    <th>Brand</th>
    <th>Model</th>
    <th>Year</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>Reserve</th>
    <th>Repairs</th>
    <tr th:each="vehicle : ${vehicles}">
        <td th:text="${vehicle.brand.name}"></td>
        <td th:text="${vehicle.model}"></td>
        <td th:text="${vehicle.productionYear}"></td>
        <td><a class="btn btn-info" th:href="@{'/brands/edit/'+${vehicle.id}}">Edit</a></td>
        <td><a class="btn btn-danger" th:href="@{'/brands/delete/'+${vehicle.id}}">Delete</a></td>
        <td><a class="btn btn-info" th:href="@{'/carservices/reserve/'+${vehicle.id}}">Search</a></td>

    </tr>
</table>
</body>
<footer th:replace="fragments :: footer"></footer>
</html>