<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Auto Service</title>
    <link rel="stylesheet" href="/css/bootstrap.css" th:ref="@{/css/bootstrap.css}">
</head>
<header th:fragment="header">
    <h1>Welcome to autoService</h1>
</header>
<footer th:fragment="footer" page-footer font-small>
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="#"> Auto Service System</a>
    </div>
</footer>
</html>