<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
<h4>Add employee</h4>
<div class="col-6">
    <form action="#" th:action="@{/employees/create}" th:object="${employee}" method="post">
        <div class="form-group">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input class="form-control" type="text" th:field="*{firstName}" placeholder="Name" id="firstName">
                <span class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</span>
            </div>
            <div class="form-group">
                <label for="secondName">Second Name</label>
                <input class="form-control" type="text" th:field="*{secondName}" placeholder="Name" id="secondName">
                <span class="text-danger" th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}">Second Name Error</span>
            </div>
            <select class="form-control basic-multiple" th:field="*{qualifications}" multiple="multiple">
                <option th:each="qualification : ${qualificationss}"
                        th:value="${qualification.id}"
                        th:text="${qualification.name}">

                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Save Employee</button>
    </form>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.basic-multiple').select2({
            placeholder: 'Select an option'
        });
    });
</script>
</body>
<footer th:replace="fragments :: footer"></footer>
</html>